body
  padding-top 20px
  padding-bottom 20px

.header,
.marketing,
.footer
  padding-left 15px
  padding-right 15px

.header
  border-bottom 1px solid #e5e5e5
  margin-bottom 30px
  h3
    margin-top 0
    margin-bottom 0
    line-height 40px
    padding-bottom 19px

.footer
  padding-top 19px
  color #777
  border-top 1px solid #e5e5e5

@media (min-width:768px)
  .container
    max-width 730px

@media screen and (min-width: 768px)
  .header,
  .marketing,
  .footer
    padding-left 0
    padding-right 0

.container-narrow
  & > hr
    margin 30px 0

.jumbotron
  text-align center
  border-bottom 1px solid #e5e5e5
  border-bottom 0
  .btn
    font-size 21px
    padding 14px 24px

.marketing
  margin 40px 0
  p
    & + h4
      margin-top 28px

img.fit-in-row {
  max-width: 100%;
  max-height: 100%;
}

/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling
   (this is what the element will animate towards */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
.repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
.repeat-animation.ng-leave.ng-leave-active { opacity:0; }

/*
 * ngView triggers three animation events: enter, leave and move.
 */
.view-container {
  height:500px;
  position:relative;
}

.view-animation.ng-enter {
  -webkit-animation: enter_animation 1s;
  animation: enter_animation 1s;

  /*
   * ng-animate has a slight starting delay for optimization purposes
   * so if we see a flicker effect then we'll need to put some extra
   * styles to "shim" the animation.
   */
  left:100%;
}

.view-animation.ng-leave {
  -webkit-animation: leave_animation 1s;
  animation: leave_animation 1s;
}

.view-animation.ng-leave,
.view-animation.ng-enter {
  position:absolute;
  top:0;
  width:100%;
}

/*
 * the animation below will move enter in the view from the right side of the screen
 * and move the current (expired) view from the center of the screen to the left edge
 */
@keyframes enter_animation {
  from { left:100%; }
  to { left:0; }
}

@-webkit-keyframes enter_animation {
  from { left:100%; }
  to { left:0; }
}

@keyframes leave_animation {
  from { left:0; }
  to { left:-100%; }
}

@-webkit-keyframes leave_animation {
  from { left:0; }
  to { left:-100%; }
}