h3.text-muted {{title}}
div.jumbotron
  p
    a.btn.btn-success(ng-click="update()")
      | Let's go!&nbsp;
      span.glyphicon.glyphicon-ok

div.repeat-animation(data-ng-repeat="tweet in tweets", bind-once, ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}")
  div(birdy-tweet ng-model="tweet")
  //div.panel.panel-default
    div.panel-heading {{tweet.created_at}}
    div.panel-body
      div.row
        div.col-xs-4
          div(ng-show="{{!!tweet['entities']['media'][0]['media_url']}}")
            div(ng-switch="tweet['entities']['media'][0].type")
              div(ng-switch-when="photo")
                a(href="{{tweet['entities']['media'][0]['media_url']}}", target="_blank")
                  img.fit-in-row(src="{{tweet['entities']['media'][0]['media_url']}}")
              div(ng-switch-default)
                p {{tweet['entities']['media'][0]['media_url']}}
          div(ng-hide="{{!!tweet['entities']['media'][0]['media_url']}}")
            h4.text-center
              | NO MEDIA
        div.col-xs-8
          p {{tweet.text}}
    div.panel-footer
      small
        | Favorited
        code {{tweet.favorite_count}}
        || Retweeted
        code {{tweet.retweet_count}}


div.footer
  p
    span.glyphicon.glyphicon-heart
    | &nbsp; {{title}}